* {
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    background-color: rgb(194, 196, 177);
}

h1 {
    padding: 5%;
    padding-left: 15%;
    background-color: rgb(104, 147, 185);
}

h2 {
    padding: 1%;
}

div.about {
    padding-bottom: 3%;
    padding-left: 2%;
    font-size: 20px;
}

img.profile-img {
    position: absolute;
    top: 2%;
    left: 2%;
    display: flex;
    flex-direction: row;
    z-index: 1;
    border-radius: 20%;
}

.topnav {
    background-color:rgb(104, 147, 185);
    overflow: hidden;
}

.topnav a {
    float: right;
    color: antiquewhite;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    background-color: rgb(66, 51, 31);
    color: aliceblue;
}

.images-work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 2%;
}

#img-1, #img-2, #img-3, #img-4 {
    padding: 2%;
    border-radius: 20%;
}

#p-img-1, #p-img-2, #p-img-3, #p-img-4 {
    position: relative;
    right: 10%;
}
.contact {
    background-color: aliceblue;
}
div.contact {
    padding: 1%;
    background-color: aliceblue;
}

footer {
    background-color:  rgb(104, 147, 185);
    padding: 2%;
    text-align: center;
}